name: Build

# This workflow will work for pushes, pull requests, or a manual trigger (workflow_dispatch).
on: [push, pull_request, workflow_dispatch]

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 3

jobs:
  build:
    name: "${{ matrix.platform.name }} (CF_RUNTIME_SHADER_COMPILATION=${{ matrix.runtime_shader_compilation.value }})"
    runs-on: ${{ matrix.platform.os }}
    timeout-minutes: 20

    defaults:
      run:
        shell: bash

    strategy:
      # Don't cancel other in-progress jobs if one fails.
      fail-fast: false
      matrix:
        runtime_shader_compilation:
          - { value: "ON", cmake_arg: "-DCF_RUNTIME_SHADER_COMPILATION=ON" }
          - { value: "OFF", cmake_arg: "-DCF_RUNTIME_SHADER_COMPILATION=OFF" }
        platform:
          # Diabled MinGW as it was having trouble with DX12 headers being out of date.
          # - { name: "Windows (MinGW-w64)",     os: windows-latest, artifact: 'mingw-w64', generate: '-G "MinGW Makefiles"' }
          - {
              name: "Windows (MSCV 17 2022)",
              os: windows-2025,
              artifact: "mscv17",
              generate: '-G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Release',
            }
          - {
              name: "MacOS",
              os: macos-latest,
              artifact: "macos",
              generate: '-G "Unix Makefiles"',
            }
          - {
              name: "Linux",
              os: ubuntu-latest,
              artifact: "linux",
              generate: '-G "Unix Makefiles" -DSDL_JACK=OFF -DSDL_PIPEWIRE=OFF -DSDL_PULSEAUDIO=OFF -DSDL_SNDIO=OFF -DSDL_ALSA=OFF -DSDL_WAYLAND=OFF -DSDL_X11=OFF -DSDL_KMSDRM=OFF -DSDL_UNIX_CONSOLE_BUILD=ON',
            }
          # TODO - Add iOS and Android platforms. Waiting on better support from GitHub.

    steps:
      - uses: actions/checkout@master

      # Linux needs to install various dependencies.
      - name: Install OpenGL + Audio
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y --no-install-recommends build-essential git make \
          pkg-config cmake ninja-build gnome-desktop-testing \
          libaudio-dev libfribidi-dev \
          libxkbcommon-dev libgl1-mesa-dev libgles2-mesa-dev \
          libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libthai-dev \
          liburing-dev
        if: matrix.platform.name == 'Linux'

      - name: Create build folder with CMake
        run: |
          cmake ${{ matrix.platform.generate }} ${{ matrix.runtime_shader_compilation.cmake_arg }} -B build_folder

      - name: Build project binary (non-MSVC)
        run: |
          cmake --build build_folder
        if: matrix.platform.name != 'Windows (MSCV 17 2022)'

      # Default for MSVC is to build with Debug, so a special case is needed to produce
      # Release binaries.
      - name: Build project binary (MSVC)
        run: |
          cmake --build build_folder --config Release
        if: matrix.platform.name == 'Windows (MSCV 17 2022)'

      # Run tests for MSVC 17
      - name: Run Tests for MSVC 17
        shell: cmd
        run: |
          cd build_folder\Release
          tests.exe
          cd ..\..
        if: matrix.platform.name == 'Windows (MSCV 17 2022)'

      # Run tests for MinGW (no Release folder)
      - name: Run Tests for MinGW
        shell: cmd
        run: |
          cd build_folder
          tests.exe
          docsparser.exe
          cd ..
        if: matrix.platform.name == 'Windows (MinGW)'

      - name: Run Tests for Apple
        run: |
          cd build_folder
          ./tests
          ./docsparser
          cd ..
        if: runner.os == 'macOS'

      - name: Run Tests for Linux
        run: |
          cd build_folder
          ./tests
          ./docsparser
          cd ..
        if: runner.os == 'Linux'

      # Just call robocopy twice, one looking for libcute.a for MinGW, and one
      # looking for cute.lib for MSCV. robocopy doesn't trigger a build failure for
      # not finding a file.
      - name: Generate artifacts for Windows
        shell: cmd
        run: |
          robocopy include dist *.h
          robocopy build_folder\Release\lib dist cute*.lib
          robocopy build_folder\lib dist libcute*.a
          7z a ${{ matrix.platform.artifact }}.zip .\dist\*
        if: runner.os == 'Windows'

      - name: Generate artifacts for MacOS
        run: |
          mkdir -p ./dist
          cp -v ./include/*.h ./dist
          cp -R -v ./build_folder/lib/libcute*.a ./dist
          tar -czvf ${{ matrix.platform.artifact }}.tar.gz -C dist .
        if: runner.os == 'macOS'

      - name: Generate artifacts for Linux
        run: |
          mkdir -p ./dist
          cp -v ./include/*.h ./dist
          cp -v ./build_folder/lib/libcute*.a ./dist
          tar -czvf ${{ matrix.platform.artifact }}.tar.gz -C dist .
        if: runner.os == 'Linux'

      # Uploads the zip archives onto the workflow. They can be downloaded for 90 days (by default).
      # Find them here: https://github.com/RandyGaul/cute_framework/actions
      - uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: ${{ matrix.platform.artifact }}
          path: ./dist/
        if: matrix.runtime_shader_compilation.value == 'ON'
